DATABASE_URL="postgresql://user:password@host/database?sslmode=require"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"
AWS_S3_BUCKET="your-bucket-name"
DEV_SEEDED_USER_ID="9ecb2d33-5a85-40dd-8791-073afdc87154"
DEV_ADMIN_USER_IDS=""
